.form-general {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-family: sans-serif;
}

.form-fields {
    font-size: 18px;
    margin-bottom: 8px;
}

.marker-label {
    width: 60px;
    height: 20px;

    border: 1px solid #EB3A44;
    border-radius: 5px;
    background: #FEE1D7;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 12px;
    color: #EB3A44;
    text-shadow:
        -1px -1px 0 #FFF,
        1px -1px 0 #FFF,
        -1px 1px 0 #FFF,
        1px 1px 0 #FFF;
}
