<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Geohash</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="form-general">
            <h3>Enter the names of your 3 favourite spots:</h3>
            <form id="locations">
                01 {{ form.loc01(class_="form-fields") }} <br />
                02 {{ form.loc02(class_="form-fields") }} <br />
                03 {{ form.loc03(class_="form-fields") }} <br />
                {{ form.hidden_tag() }}
                <input class="form-fields" type="submit" value="Submit" />
            </form>
        </div>

        <div id="map_canvas" style="width: 90%; height: 800px;"></div>

        {# Javascript #}
        <script type="text/javascript" src="/static/map.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaw_QhupG4EKMT034XUZ0f--5Y-Pzx_SY&amp;callback=initMap"></script>
        <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerwithlabel/src/markerwithlabel.js"></script>
        <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/maplabel/src/maplabel.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                submit_form();
            });
        </script>
    </body>
</html>
